/* Slideshow container */
.slideshow-container {
font-size: 10px;
font-family: "Gill sans MT";
margin: 10px auto 0px auto;
border-color: #004B5F;
border: 15px solid;
-webkit-border-image: url(../images/border1.png) 30 stretch; /* Safari 3.1-5 */
 -o-border-image: url(../images/border1.png) 30 stretch; /* Opera 11-12.1 */
 border-image: url(../images/border1.png) 30 stretch;
background-color: rgba(67,173,226,0.2);
width: 50%;
position: relative;
height: 250px;
padding: 8px 12px;
margin-bottom: 10%;
bottom: 8px;
}

.slideshowcontainer p {
width: 50%;
text-align: justify;
float: right;
color: black;
}

/* VIDEO */
.smoke {
    position: absolute;
    z-index: -2;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1%;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 5px;
  bottom: 0;
	float: right;
}

.contact {
  color: black;
  font-size: 30px;
  float: left;
}

.contacticon {
	width: 10%;
	float: left;
	padding: 3px;
}

.graph {
	width: 50%;
	padding: 1px 1px 1px 1px;
	float: left;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #026176;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.dotslides {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%
}

.active, .dot:hover {
  background-color:rgba(192,192,192,0.1);
	border: 1px solid #026176;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
